body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#temple-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.temple-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    bottom: 0;
}
